.breadcrumbs {

  @include mobile {
    display: none;
  }

  &__container {
    padding-top: 21px;
    padding-bottom: 5px;

    &--card {
      padding-top: 18px;
    }

    @include tablet {
      padding-top: 20px;
    }
  }


  &__list {
    gap: 4px;
  }

  &__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--grey);
    text-decoration: none;


    span {
      padding-left: 5.4px;
    }

    &:focus {
      outline: none;
    }

    &.focus-visible {
      background-color: var(--pink-violet);
    }

    @include hover {
      color: var(--primary);
    }

    &:active {
      color: var(--primary-shade);
    }

    &--current {
      color: var(--primary-shade);

      @include hover {
        color: var(--primary-shade);
      }
    }
  }
}
