<section class="categories">
  <div class="categories__container container">

    <h2 class="categories__title">Топ категории</h2>

    <ul class="categories__list list-reset  grid">
      <li class="categories__item  categories__item--big1">
        <article class="categories__article categories-article categories-article--dec1 flex">

          <div class="categories-article__text">
            <ul class="categories-article__list list-reset flex">
              <li class="categories-article__item">
                <a href="#" class="categories-article__link">Прямые</a>
              </li>
              <li class="categories-article__item">
                <a href="#" class="categories-article__link">Угловые</a>
              </li>
              <li class="categories-article__item">
                <a href="#" class="categories-article__link">Модульные</a>
              </li>
            </ul>

            <h3 class="categories-article__title">Диваны</h3>

            <a href="catalog.html" class="article-link">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_66866_570)">
                  <circle cx="11" cy="11" r="10" fill="" stroke="" stroke-width="2" />
                  <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath>
                    <rect width="22" height="22" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>

          <a href="catalog.html" class="categories__link flex">В каталог
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_66866_570)">
                <circle cx="11" cy="11" r="10" fill="" stroke="" stroke-width="2" />
                <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath>
                  <rect width="22" height="22" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </article>
      </li>

      <li class="categories__item categories__item--big2">
        <article class="categories__article categories-article categories-article--dec2 flex">

          <div class="categories-article__text">
            <ul class="categories-article__list list-reset flex">
              <li class="categories-article__item">
                <a href="#" class="categories-article__link">Мягкие</a>
              </li>
              <li class="categories-article__item">
                <a href="#" class="categories-article__link">Кресла-кровати</a>
              </li>
            </ul>

            <h3 class="categories-article__title">Кресла</h3>

            <a href="catalog.html" class="article-link">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_66866_570)">
                  <circle cx="11" cy="11" r="10" fill="" stroke="" stroke-width="2" />
                  <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath>
                    <rect width="22" height="22" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>

          <a href="catalog.html" class="categories__link flex">В каталог
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_66866_570)">
                <circle cx="11" cy="11" r="10" fill="" stroke="" stroke-width="2" />
                <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath>
                  <rect width="22" height="22" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__article categories-article categories-article--dec3 flex">

          <div class="categories-article__text">
            <ul class="categories-article__list list-reset flex">
              <li class="categories-article__item">
                <a href="#" class="categories-article__link">Односпальные</a>
              </li>
              <li class="categories-article__item">
                <a href="#" class="categories-article__link">Двуспальные</a>
              </li>
            </ul>

            <h3 class="categories-article__title">Кровати</h3>

            <a href="catalog.html" class="article-link">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_66866_570)">
                  <circle cx="11" cy="11" r="10" fill="" stroke="" stroke-width="2" />
                  <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath>
                    <rect width="22" height="22" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>

          <a href="catalog.html" class="categories__link flex">В каталог
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_66866_570)">
                <circle cx="11" cy="11" r="10" fill="" stroke="" stroke-width="2" />
                <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath>
                  <rect width="22" height="22" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__article categories-article categories-article--dec4 flex">

          <div class="categories-article__text">
            <ul class="categories-article__list categories-article__list--dec4 list-reset flex">
              <li class="categories-article__item">
                <a href="#" class="categories-article__link">Тумбы</a>
              </li>
              <li class="categories-article__item">
                <a href="#" class="categories-article__link">Комоды</a>
              </li>
            </ul>

            <h3 class="categories-article__title">Тумбы и&nbsp;комоды</h3>

            <a href="catalog.html" class="article-link">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_66866_570)">
                  <circle cx="11" cy="11" r="10" fill="" stroke="" stroke-width="2" />
                  <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath>
                    <rect width="22" height="22" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>

          <a href="catalog.html" class="categories__link flex">В каталог
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_66866_570)">
                <circle cx="11" cy="11" r="10" fill="" stroke="" stroke-width="2" />
                <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath>
                  <rect width="22" height="22" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </article>
      </li>

      <li class="categories__item">
        <article class="categories__article categories-article categories-article--dec5 flex">

          <div class="categories-article__text">
            <ul class="categories-article__list categories-article__list--dec5 list-reset flex">
              <li class="categories-article__item">
                <a href="#" class="categories-article__link">Деревянные</a>
              </li>
              <li class="categories-article__item">
                <a href="#" class="categories-article__link">Металлокаркас</a>
              </li>
            </ul>

            <h3 class="categories-article__title">Стулья</h3>

            <a href="catalog.html" class="article-link">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_66866_570)">
                  <circle cx="11" cy="11" r="10" fill="" stroke="" stroke-width="2" />
                  <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath>
                    <rect width="22" height="22" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </a>
          </div>

          <a href="catalog.html" class="categories__link flex">В каталог
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_66866_570)">
                <circle cx="11" cy="11" r="10" fill="" stroke="" stroke-width="2" />
                <path d="M9.625 7.5625L13.0625 11L9.625 14.4375" stroke="" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath>
                  <rect width="22" height="22" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>
