<footer class="footer">

  <div class="footer__container container grid">

    <div class="footer__left footer-left">
      <a class="footer-left__logo">
        <img src="img/logo.svg" alt="Logo">
      </a>

      <div class="footer-left__social">
        <ul class="social list-reset">
          <li class="social__item"><a href="#" target="_blank" class="social__link social__link--od"
              aria-label="Наша страничка в Одноклассники">
              <svg>
                <use xlink:href="img/sprite.svg#fbIcon"></use>
              </svg>
            </a></li>
          <li class="social__item"><a href="#" target="_blank" class="social__link social__link--vk"
              aria-label="Наша страничка во Вконтакте">
              <svg>
                <use xlink:href="img/sprite.svg#vkIcon"></use>
              </svg>
            </a></li>
          <li class="social__item"><a href="#" target="_blank" class="social__link social__link--vk"
              aria-label="Наша страничка во Вконтакте">
              <svg>
                <use xlink:href="img/sprite.svg#instagramIcon"></use>
              </svg>
            </a></li>
        </ul>
      </div>
    </div>

    <div class="footer__right footer-right">
      <ul class="footer-right__list list-reset flex">
        <li class="footer-right__item footer-item">
          <h3 class="footer-item__title">О нас</h3>
          <ul class="footer-item__list list list-reset flex">
            <li class="list__item"><a href="#" class="list__link">О компании</a></li>
            <li class="list__item"><a href="#" class="list__link">Блог</a></li>
          </ul>
        </li>

        <li class="footer-right__item footer-item footer-item--dec2">
          <h3 class="footer-item__title">Услуги</h3>
          <ul class="footer-item__list list list-reset flex">
            <li class="list__item"><a href="#" class="list__link">Доставка</a></li>
            <li class="list__item"><a href="#" class="list__link">Рассрочка и кредит</a></li>
            <li class="list__item"><a href="#" class="list__link">Сборка и установка</a></li>
          </ul>
        </li>

        <li class="footer-right__item footer-item footer-item--dec3">
          <h3 class="footer-item__title">Связь с нами</h3>
          <ul class="footer-item__list list list-reset flex">
            <li class="list__item"><a href="#" class="list__link">Обратная связь</a></li>
            <li class="list__item"><a href="#" class="list__link">Контакты</a></li>
          </ul>
        </li>

        <li class="footer-right__item footer-item">
          <h3 class="footer-item__title">Сотрудничество</h3>
          <ul class="footer-item__list list list-reset flex">
            <li class="list__item"><a href="cooperation.html" class="list__link">Поставщикам</a></li>
            <li class="list__item"><a href="#" class="list__link">Оптовикам</a></li>
            <li class="list__item"><a href="#" class="list__link">Карьера</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__bottom">
    <span>SDP<sup class="reg">&reg;</sup>&nbsp;&nbsp;&nbsp;2011-2021</span>
  </div>
</footer>
