<header class="header">

  <div class="header__top">
    <div class="container grid">
      <div class="top flex">
        <div class="top__contact flex">
          <span class="top__title">Ваш регион:</span>

          <div class="top__select">
            <select name="city" id="top__select" class="select">
              <option value="">Москва</option>
              <option value="">Казань</option>
              <option value="">Уфа</option>
              <option value="">Пермь</option>
            </select>
          </div>

          <a href="tel:+74958854547" class="top__link flex">
            <svg>
              <use xlink:href="img/sprite.svg#phoneIcon"></use>
            </svg>
            +7 (495) 885-45-47
          </a>

        </div>
        <ul class="top__nav top-nav list-reset flex">
          <li class="top-nav__item"><a href="#" class="top-nav__link">О компании</a></li>
          <li class="top-nav__item"><a href="#" class="top-nav__link">Гарантия и возврат</a></li>
          <li class="top-nav__item"><a href="#" class="top-nav__link">Корпоративным клиентам</a></li>
          <li class="top-nav__item"><a href="#" class="top-nav__link">Дизайн-решение</a></li>
        </ul>

      </div>
    </div>
  </div>

  <div class="header__container container grid">
    <button class="burger btn-reset">
      <span class="burger__line"></span>
    </button>

    <a class="header__logo">
      <img src="img/logo.svg" alt="Logo">
    </a>

    <nav class="nav flex" title="Main navigation">
      <ul class="nav__list list-reset flex">
        <li class="nav__item"><a href="catalog.html" class="nav__link">Каталог</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Магазины</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Шоу-рум</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Доставка и оплата</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Дисконт</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
      </ul>
    </nav>

    <ul class="shop-nav list-reset flex">
      <li class="shop-nav__item">
        <a href="#" class="shop-nav__link shop-nav__link--user" aria-label="Go to cabinet">
          <svg>
            <use xlink:href="img/sprite.svg#userIcon"></use>
          </svg>
        </a>
      </li>
      <li class="shop-nav__item">
        <a href="#" class="shop-nav__link cart" aria-label="Go to cart">
          <span class="cart__quantity quantity">0</span>
          <svg>
            <use xlink:href="img/sprite.svg#cartIcon"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="header__bottom bottom flex">
      <form action="#" class="search">
        <div class="search__field flex">
          <svg class="search__icon">
            <use xlink:href="img/sprite.svg#searchIcon"></use>
          </svg>
          <input type="text" class="search__input" name="search" placeholder="Я хочу купить..." autocomplete="off">
          <button class="btn-reset search__button">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_663_1730)">
                <circle cx="16" cy="16" r="15" fill="" stroke="" stroke-width="2" />
                <path d="M14 11L19 16L14 21" stroke="" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath id="clip0_663_1730">
                  <rect width="32" height="32" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </button>
        </div>
      </form>

      <div class="bottom__select">
        <select name="category" id="bottom__select" class="select">
          <option value="">Категория</option>
          <option value="">Диваны</option>
          <option value="">Кресла</option>
          <option value="">Пуфы</option>
          <option value="">Кровати</option>
          <option value="">Тумбы</option>
          <option value="">Комоды</option>
          <option value="">Стулья</option>
          <option value="">Столы</option>
          <option value="">Аксессуары</option>
        </select>
      </div>

    </div>

  </div>

  @include('breadcrumbs-card.html')

</header>
