<section class="hero">

  <div class="swiper hero__swiper">
    <div class="swiper-wrapper">

      <div class="swiper-slide hero__slide1">
        <div class="hero__container container">
          <h1 class="hero__title">Скидка&nbsp;15% на&nbsp;первую&nbsp;покупку</h1>
          <button aria-label="sale button" class="hero__button btn btn--fill btn-reset">Получить!</button>
        </div>
      </div>

      <div class="swiper-slide hero__slide2">
        <div class="hero__container container">
          <h1 class="hero__title">1000+ аксессуаров для дома</h1>
          <button aria-label="sale button" class="hero__button btn btn--fill btn-reset">Получить!</button>
        </div>
      </div>

      <div class="swiper-slide hero__slide3">
        <div class="hero__container container">
          <h1 class="hero__title">Коллекция стильного и&nbsp;яркого текстиля</h1>
          <button aria-label="sale button" class="hero__button btn btn--fill btn-reset">Получить!</button>
        </div>
      </div>
    </div>
    <div class="swiper-pagination hero__swiper-pagination"></div>
  </div>

  <div class="banner">
    <span>По вашему запросу ничего не нашлось</span>
  </div>


</section>
