<section class="offers">
  <div class="offers__container container">

    <h2 class="offers__title">Специальные предложения</h2>

    <div class="swiper offers__swiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide offers__slide">
          <article class="product flex">
            <div class="product__image flex">
              <span class="product__sale">- 9 000</span>
              <picture>
                <img src="img/offers-img1_1920.webp" alt="product">
              </picture>
            </div>

            <h3 class="product__title">
              <a href="card.html">Кресло велюровое “Х-24”</a>
            </h3>

            <div class="product__cost">
              <span class="product__price">15 990 руб</span>
              <span class="product__oldprice">24 900 руб</span>
            </div>

            <div class="product__cart">
              <button aria-label="buy button" class="btn btn-reset">Купить</button>
            </div>
          </article>
        </div>

        <div class="swiper-slide offers__slide offers__slide--big">
          <article class="product product--big1 flex">
            <div class="product__image flex">
              <span class="product__sale">- 10 000</span>
              <picture>
                <img src="img/offers-img2_1920.webp" alt="product">
              </picture>
            </div>

            <h3 class="product__title">
              <a href="card.html">Диван тканевый “Z-44”</a>
            </h3>

            <div class="product__cost">
              <span class="product__price">22 990 руб</span>
              <span class="product__oldprice">32 990 руб</span>
            </div>

            <div class="product__cart">
              <button aria-label="buy button" class="btn btn-reset">Купить</button>
            </div>
          </article>
        </div>

        <div class="swiper-slide offers__slide">
          <article class="product flex">
            <div class="product__image flex">
              <span class="product__sale">- 600</span>
              <picture>
                <img src="img/offers-img3_1920.webp" alt="product">
              </picture>
            </div>

            <h3 class="product__title">
              <a href="card.html">Будильник “Quartz-23”</a>
            </h3>

            <div class="product__cost">
              <span class="product__price">1 290 руб</span>
              <span class="product__oldprice">1 890 руб</span>
            </div>

            <div class="product__cart">
              <button aria-label="buy button" class="btn btn-reset">Купить</button>
            </div>
          </article>
        </div>

        <div class="swiper-slide offers__slide">
          <article class="product flex">
            <div class="product__image flex">
              <span class="product__sale">- 300</span>
              <picture>
                <img src="img/offers-img4_1920.webp" alt="product">
              </picture>
            </div>

            <h3 class="product__title">
              <a href="card.html">Мини-скульптура “Oh my deer”</a>
            </h3>

            <div class="product__cost">
              <span class="product__price">690 руб</span>
              <span class="product__oldprice">990 руб</span>
            </div>

            <div class="product__cart">
              <button aria-label="buy button" class="btn btn-reset">Купить</button>
            </div>
          </article>
        </div>


        <div class="swiper-slide offers__slide offers__slide--big">
          <article class="product product--big2 flex">
            <div class="product__image flex">
              <span class="product__sale">- 10 000</span>
              <picture>
                <img src="img/offers-img5_1920.webp" alt="product">
              </picture>
            </div>

            <h3 class="product__title">
              <a href="card.html">Диван вел-флок “Z-85”</a>
            </h3>

            <div class="product__cost">
              <span class="product__price">22 990 руб</span>
              <span class="product__oldprice">32 990 руб</span>
            </div>

            <div class="product__cart">
              <button aria-label="buy button" class="btn btn-reset">Купить</button>
            </div>
          </article>
        </div>


        <div class="swiper-slide offers__slide">
          <article class="product flex">
            <div class="product__image flex">
              <span class="product__sale">- 700</span>
              <picture>
                <img src="img/offers-img6_1920.webp" alt="product">
              </picture>
            </div>

            <h3 class="product__title">
              <a href="card.html">Термометр + гидрометр “H-18”</a>
            </h3>

            <div class="product__cost">
              <span class="product__price">1 390 руб</span>
              <span class="product__oldprice">2 090 руб</span>
            </div>

            <div class="product__cart">
              <button aria-label="buy button" class="btn btn-reset">Купить</button>
            </div>
          </article>
        </div>

      </div>

      <div class="swiper-button-prev offers__swiper-button-prev">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_66903_3281)">
            <circle cx="16" cy="16" r="15" transform="matrix(-1 0 0 1 32 0)" stroke="" stroke-width="2" />
            <path d="M18 11L13 16L18 21" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </g>
          <defs>
            <clipPath>
              <rect width="32" height="32" fill="white" transform="matrix(-1 0 0 1 32 0)" />
            </clipPath>
          </defs>
        </svg>

      </div>
      <div class="swiper-button-next offers__swiper-button-next">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_663_1730)">
            <circle cx="16" cy="16" r="15" fill="" stroke="" stroke-width="2" />
            <path d="M14 11L19 16L14 21" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </g>
          <defs>
            <clipPath>
              <rect width="32" height="32" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>

    </div>

  </div>
</section>
