<section class="rating">
  <div class="rating__container container flex">
    <h2 class="rating__title">Высокий рейтинг</h2>
    <ul class="rating__list list-reset  grid">

      <li class="rating__item">
        <article class="product flex">
          <div class="product__image flex">
            <span class="product__sale">5,0</span>
            <img src="img/rating-img1_1920.webp" alt="product">
          </div>
          <h3 class="product__title">
            <a href="card.html">Диван кожаный<br>“R-94”</a>
          </h3>

          <div class="product__cost">
            <span class="product__price">94 990 руб</span>
          </div>

          <div class="product__cart">
            <button aria-label="buy button" class="btn btn-reset">Купить</button>
          </div>
        </article>
      </li>

      <li class="rating__item">
        <article class="product flex">
          <div class="product__image flex">
            <span class="product__sale">4,9</span>
            <img src="img/rating-img2_1920.webp" alt="product">
          </div>
          <h3 class="product__title">
            <a href="card.html">Диван апартековый “T-75”</a>
          </h3>

          <div class="product__cost">
            <span class="product__price">69 990 руб</span>
          </div>

          <div class="product__cart">
            <button aria-label="buy button" class="btn btn-reset">Купить</button>
          </div>
        </article>
      </li>

      <li class="rating__item">
        <article class="product flex">
          <div class="product__image flex">
            <span class="product__sale">4,8</span>
            <img src="img/rating-img3_1920.webp" alt="product">
          </div>
          <h3 class="product__title">
            <a href="card.html">Диван тканевый<br>“D-31”</a>
          </h3>

          <div class="product__cost">
            <span class="product__price">28 490 руб</span>
          </div>

          <div class="product__cart">
            <button aria-label="buy button" class="btn btn-reset">Купить</button>
          </div>
        </article>
      </li>

      <li class="rating__item">
        <article class="product flex">
          <div class="product__image flex">
            <span class="product__sale">4,8</span>
            <img src="img/rating-img4_1920.webp" alt="product">
          </div>
          <h3 class="product__title">
            <a href="card.html">Диван велюровый “Y-68”</a>
          </h3>

          <div class="product__cost">
            <span class="product__price">22 990 руб</span>
          </div>

          <div class="product__cart">
            <button aria-label="buy button" class="btn btn-reset">Купить</button>
          </div>
        </article>
      </li>

      <li class="rating__item">
        <article class="product flex">
          <div class="product__image flex">
            <span class="product__sale">4,8</span>
            <img src="img/rating-img5_1920.webp" alt="product">
          </div>
          <h3 class="product__title">
            <a href="card.html">Диван из&nbsp;шинила “W-95”</a>
          </h3>

          <div class="product__cost">
            <span class="product__price">22 990 руб</span>
          </div>

          <div class="product__cart">
            <button aria-label="buy button" class="btn btn-reset">Купить</button>
          </div>
        </article>
      </li>

      <li class="rating__item">
        <article class="product flex">
          <div class="product__image flex">
            <span class="product__sale">4,8</span>
            <img src="img/rating-img6_1920.webp" alt="product">
          </div>
          <h3 class="product__title">
            <a href="card.html">Диван флоковый “G-41”</a>
          </h3>

          <div class="product__cost">
            <span class="product__price">17 990 руб</span>
          </div>

          <div class="product__cart">
            <button aria-label="buy button" class="btn btn-reset">Купить</button>
          </div>
        </article>
      </li>

      <li class="rating__item">
        <article class="product flex">
          <div class="product__image flex">
            <span class="product__sale">4,8</span>
            <img src="img/rating-img7_1920.webp" alt="product">
          </div>
          <h3 class="product__title">
            <a href="card.html">Диван шиниловый “V-43”</a>
          </h3>

          <div class="product__cost">
            <span class="product__price">19 990 руб</span>
          </div>

          <div class="product__cart">
            <button aria-label="buy button" class="btn btn-reset">Купить</button>
          </div>
        </article>
      </li>

      <li class="rating__item">
        <article class="product flex">
          <div class="product__image flex">
            <span class="product__sale">4,7</span>
            <img src="img/rating-img8_1920.webp" alt="product">
          </div>
          <h3 class="product__title">
            <a href="card.html">Диван велюровый “S-99”</a>
          </h3>

          <div class="product__cost">
            <span class="product__price">19 990 руб</span>
          </div>

          <div class="product__cart">
            <button aria-label="buy button" class="btn btn-reset">Купить</button>
          </div>
        </article>
      </li>

      <li class="rating__item">
        <article class="product flex">
          <div class="product__image flex">
            <span class="product__sale">4,7</span>
            <img src="img/rating-img9_1920.webp" alt="product">
          </div>
          <h3 class="product__title">
            <a href="card.html">Диван из кожзама<br>“F-85”</a>
          </h3>

          <div class="product__cost">
            <span class="product__price">26 990 руб</span>
          </div>

          <div class="product__cart">
            <button aria-label="buy button" class="btn btn-reset">Купить</button>
          </div>
        </article>
      </li>

      <li class="rating__item">
        <article class="product flex">
          <div class="product__image flex">
            <span class="product__sale">4,6</span>
            <img src="img/rating-img10_1920.webp" alt="product">
          </div>
          <h3 class="product__title">
            <a href="card.html">Диван флоковый<br>“H-64”</a>
          </h3>

          <div class="product__cost">
            <span class="product__price">25 990 руб</span>
          </div>

          <div class="product__cart">
            <button aria-label="buy button" class="btn btn-reset">Купить</button>
          </div>
        </article>
      </li>

      <li class="rating__item">
        <article class="product flex">
          <div class="product__image flex">
            <span class="product__sale">4,6</span>
            <img src="img/rating-img11_1920.webp" alt="product">
          </div>
          <h3 class="product__title">
            <a href="card.html">Диван флоковый<br>“H-58”</a>
          </h3>

          <div class="product__cost">
            <span class="product__price">23 990 руб</span>
          </div>

          <div class="product__cart">
            <button aria-label="buy button" class="btn btn-reset">Купить</button>
          </div>
        </article>
      </li>

      <li class="rating__item">
        <article class="product flex">
          <div class="product__image flex">
            <span class="product__sale">4,6</span>
            <img src="img/rating-img12_1920.webp" alt="product">
          </div>
          <h3 class="product__title">
            <a href="card.html">Диван из кожзама<br>“R-43”</a>
          </h3>

          <div class="product__cost">
            <span class="product__price">33 990 руб</span>
          </div>

          <div class="product__cart">
            <button aria-label="buy button" class="btn btn-reset">Купить</button>
          </div>
        </article>
      </li>
    </ul>

    <button aria-label="more products button" class="rating__button btn btn--fill btn-reset">Смотреть больше товаров</button>
  </div>
</section>
