<section class="similar">
  <div class="similar__container container">

    <h2 class="similar__title">Похожие товары</h2>

    <div class="swiper similar__swiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide similar__slide">
          <article class="product flex">
            <div class="product__image flex">
              <span class="product__sale">4,5</span>
              <img src="img/rating-img16_1920.webp" alt="product">
            </div>
            <h3 class="product__title">
              <a href="#">Диван велюровый<br>“R-85”</a>
            </h3>

            <div class="product__cost">
              <span class="product__price">34 990 руб</span>
            </div>

            <div class="product__cart">
              <button class="btn btn-reset">Купить</button>
            </div>
          </article>
        </div>

        <div class="swiper-slide similar__slide">
          <article class="product flex">
            <div class="product__image flex">
              <span class="product__sale">4,6</span>
              <img src="img/rating-img11_1920.webp" alt="product">
            </div>
            <h3 class="product__title">
              <a href="#">Диван флоковый <br>“H-58”</a>
            </h3>

            <div class="product__cost">
              <span class="product__price">23 990 руб</span>
            </div>

            <div class="product__cart">
              <button class="btn btn-reset">Купить</button>
            </div>
          </article>
        </div>

        <div class="swiper-slide similar__slide">
          <article class="product flex">
            <div class="product__image flex">
              <span class="product__sale">4,5</span>
              <img src="img/rating-img17_1920.webp" alt="product">
            </div>
            <h3 class="product__title">
              <a href="#">Диван велюровый<br>“S-44”</a>
            </h3>

            <div class="product__cost">
              <span class="product__price">19 990 руб</span>
            </div>

            <div class="product__cart">
              <button class="btn btn-reset">Купить</button>
            </div>
          </article>
        </div>

        <div class="swiper-slide similar__slide">
          <article class="product flex">
            <div class="product__image flex">
              <span class="product__sale">4,8</span>
              <img src="img/rating-img7_1920.webp" alt="product">
            </div>
            <h3 class="product__title">
              <a href="#">Диван шиниловый “V-43”</a>
            </h3>

            <div class="product__cost">
              <span class="product__price">19 990 руб</span>
            </div>

            <div class="product__cart">
              <button class="btn btn-reset">Купить</button>
            </div>
          </article>
        </div>

        <div class="swiper-slide similar__slide">
          <article class="product flex">
            <div class="product__image flex">
              <span class="product__sale">4,5</span>
              <img src="img/rating-img15_1920.webp" alt="product">
            </div>
            <h3 class="product__title">
              <a href="#">Диван флоковый<br>“F-41”</a>
            </h3>

            <div class="product__cost">
              <span class="product__price">17 990 руб</span>
            </div>

            <div class="product__cart">
              <button class="btn btn-reset">Купить</button>
            </div>
          </article>
        </div>

      </div>

      <div class="swiper-button-prev similar__swiper-button-prev">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_66903_3281)">
            <circle cx="16" cy="16" r="15" transform="matrix(-1 0 0 1 32 0)" stroke="" stroke-width="2" />
            <path d="M18 11L13 16L18 21" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </g>
          <defs>
            <clipPath>
              <rect width="32" height="32" fill="white" transform="matrix(-1 0 0 1 32 0)" />
            </clipPath>
          </defs>
        </svg>

      </div>
      <div class="swiper-button-next similar__swiper-button-next">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_663_1730)">
            <circle cx="16" cy="16" r="15" fill="" stroke="" stroke-width="2" />
            <path d="M14 11L19 16L14 21" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </g>
          <defs>
            <clipPath>
              <rect width="32" height="32" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>


    </div>
  </div>
</section>
