:root {
  // base
  --font-family: "OpenSans", sans-serif;
  --second-family: "PlayfairDisplay", sans-serif;

  --content-width-for-desktop: 1280px;
  --content-width-for-tablet: 952px;
  --content-width-for-small-tablet: 624px;
  --content-width-for-mobile: 296px;
  --container-offset: 12px;
  --offset: 32px;
  --container-width-for-desktop: calc(var(--content-width-for-desktop) + (var(--container-offset) * 2));
  --container-width-for-tablet: calc(var(--content-width-for-tablet) + (var(--container-offset) * 2));
  --container-width-for-small-tablet: calc(var(--content-width-for-small-tablet) + (var(--container-offset) * 2));
  --container-width-for-mobile: calc(var(--content-width-for-mobile) + (var(--container-offset) * 2));
  // colors
  --primary: #a65cf0;
  --primary-light: #c998fb;
  --primary-shade: #7033ac;
  --pink-light: #f8efff;
  --pink-violet: #ebd1ff;
  --secondary: #ff862f;
  --secondary-light: #ffbd59;
  --secondary-shade: #bb370e;
  --red-input: #ff6972;
  --green-input: #b8ec64;
  --gold: #d5b986;
  --white: #fff;
  --grey-light: #f6f6f6;
  --md-grey: #eaeaea;
  --grey: #999;
  --grey-shade: #666;
  --black: #333;
  --lime-color: #daffd1;
  --bone: #fff5d1;
}












// --font-family: "Roboto", sans-serif;
//   --second-family: "TTFirsNeue", sans-serif;
//   --content-width-for-desktop: 1290px;
//   --content-width-for-tablet: 962px;
//   --content-width-for-small-tablet: 714px;
//   --content-width-for-mobile: 278px;
//   --container-offset: 15px;
//   --offset: 30px;
//   --container-width-for-desktop: calc(var(--content-width-for-desktop) + (var(--container-offset) * 2));
//   --container-width-for-tablet: calc(var(--content-width-for-tablet) + (var(--container-offset) * 2));
//   --container-width-for-small-tablet: calc(var(--content-width-for-small-tablet) + (var(--container-offset) * 2));
//   --container-width-for-mobile: calc(var(--content-width-for-mobile) + (var(--container-offset) * 2));
